# OS junk
.DS_Store
Thumbs.db

# Power BI temp / autosave
*.pbix.autosave
*.tmp
*.log

# VS Code (optional)
.vscode/

# Python cache (only if you used Python at all)
__pycache__/
*.pyc

# Overleaf / LaTeX build files (IMPORTANT if you upload your report project)
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.lof
*.lot

# Optional: ignore random downloads
*.zip
